<app-menu></app-menu>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="user">User: </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.user.username"
    type="text"
    name="User"
    id="user"
    placeholder="User"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="description">Description: </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.description"
    type="text"
    name="Description"
    id="description"
    placeholder="Description"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="justification"
    >Justification:
  </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.justification"
    type="text"
    name="Justification"
    id="justification"
    placeholder="Justification"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="dateNeeded">Date Needed: </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.dateNeeded"
    type="date"
    name="Date Needed"
    id="dateNeeded"
    placeholder="Date Needed"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="deliveryMode"
    >Delivery Mode:
  </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.deliveryMode"
    type="text"
    name="Delivery Mode"
    id="deliveryMode"
    placeholder="Delivery Mode"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="status">Status: </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.status"
    type="text"
    name="Status"
    id="status"
    placeholder="Status"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="total">Total: </label>
  <input
    class="form-control col-sm-6"
    [ngModel]="request.total | currency"
    type="number"
    name="Total"
    id="total"
    placeholder="Total"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="submittedDate">
    Submitted Date:
  </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.submittedDate"
    type="datetime"
    name="Submitted Date"
    id="submittedDate"
    placeholder="Submitted Date"
    disabled
  />
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="reasonForRejection">
    Reason For Rejection:
  </label>
  <input
    class="form-control col-sm-6"
    [(ngModel)]="request.reasonForRejection"
    type="text"
    name="Reason For Rejection"
    id="reasonForRejection"
    placeholder="Reason For Rejection"
    disabled
  />
</div>

<button type="button" (click)="editRequest()" class="btn btn-primary">
  Save</button
>>
