<table class="table table-striped">
  <thead>
    <th scope="col">Vendor</th>
    <th scope="col">Part Number</th>
    <th scope="col">Name</th>
    <th scope="col">Price</th>
    <th scope="col">Unit</th>
    <th scope="col">Photo Path</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.vendor.name }}</td>
      <td>{{ product.partNumber }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.unit }}</td>
      <td>{{ product.photoPath }}</td>
      <td><a routerLink="/product/detail/{{ product.id }}">Details</a></td>
    </tr>
  </tbody>
</table>
